{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

<section class="articles-list">
<h2 class="section-header">Articles</h2>
{{#foreach posts}}
    {{> "post-titles"}}
{{/foreach}}
</section>

{{pagination}}
</main>