* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    -webkit-appearance: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    display: block;
    width: 100%;
    overflow: scroll;
}

body {
    display: block;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    background: #fff;
    color: #242424;
}

div.container {
    display: block;
    width: 560px;
    margin: 50px auto 20px;
}

.main-header {
    display: block;
    margin: 0 auto 30px;
    text-align: center;
}

.main-header .blog-title {
    display: block;
    height: 28px;
    line-height: 28px;
    font-size: 28px;
    font-family: "le-monde-courrier-std-2";
    font-weight: 700;
    color: #242424;
    margin: 0 auto 14px;
}

.main-header .blog-title a {
    color: #242424;
}

.main-header .blog-description {
    display: block;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-family: "le-monde-courrier-std-2";
    font-weight: 400;
    color: #aeaeae;
}

h2.section-header {
    font-family: "le-monde-courrier-std-2";
    font-weight: 400;
    color: #aeaeae;
    font-size: 16px;
    height: 16px;
    padding: 0 0 6px;
}

.articles-list {
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
}

.articles-list article.post {
    border-top: 1px solid #ddd;
    padding: 20px 0;
}

.main-footer {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.main-footer section.footer-links {
    display: block;
    height: 16px;
    margin: 0 auto 12px;
}

.main-footer section.footer-links a {
    color: #3878d9;
    padding-bottom: 2px;
    margin: 0 4px;
}
.main-footer section.footer-links a:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid #3828d9;
}

.main-footer section.footer-copyright {
    display: block;
    height: 16px;
    margin: 0 auto 6px;
}