* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    -webkit-appearance: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    display: block;
    overflow: scroll;
}

body {
    display: block;
    font-family: "jaf-domus", "Helvetica", sans-serif;
    font-size: 12px;
    line-height: 20px;
    background: #efeff0;
    color: #383838;
}

div.container {
    display: block;
    max-width: 840px;
    min-width: 320px;
    padding: 0 10px;
    margin: 50px auto 20px;
}

.main-header {
    display: block;
    margin: 0 auto 30px;
    text-align: center;
}

.main-header .blog-title {
    display: block;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    font-family: "skolar-sans-latin";
    font-weight: 500;
    margin: 0 auto 14px;
}

.main-header .blog-title a {
    color: rgb(36, 36, 36);
}

.main-header .blog-description {
    display: block;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    font-weight: 300;
    color: #383838;
}

h2.section-header {
    font-weight: 400;
    color: rgb(107, 107, 107);
    font-size: 16px;
    height: 22px;
    padding: 0 0 6px;
}

section.post-content {
    margin-bottom: 20px;
}

.articles-list {
    display: block;
    margin: 20px 0;
}

.articles-list .post {
    display: block;
    padding: 14px 0 12px;
}

.articles-list .post h2 {
    margin-bottom: 0;
}

.single-post {
    display: block;
    margin: 20px 0;
    padding: 18px 0 18px;
    overflow: hidden;
}

.post .post-date {
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
    height: 24px;
    font-weight: 300;
    color: rgb(107, 107, 107);
}

.single-post .post-date {
    height: 28px;
    padding-bottom: 12px;
}

.post .date-and-title {
    max-width: 640px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.post .post-title {
    margin-left: 10px;
}

.post .post-title a {
    color: rgb(36, 36, 36);
    font-weight: 500;
    font-size: 17px;
    font-family: "skolar-sans-latin";
}

/*@media only screen and (max-width: 420px) {
    .post .date-and-title {
        flex-direction: column;
    }

    .post .post-title {
        flex: 1;
    }
}*/

.post p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    color: rgb(71, 71, 71);
    line-height: 28px;
    padding-bottom: 1.2em;
}

.post a {
    color: #3878d9;
}

.post p a:hover, .post li a:hover {
    border-bottom: 1px solid #3878d9;
}

.post code {
    background: #eee;
    padding: 2px 4px;
}

.post {
    font-family: "jaf-domus";
}

.post h2, h3, h4 {
    margin: 0.2em 0 0.6em;
}

.post h2 {
    font-size: 21px;
}

.post h3 {
    font-size: 18px;
}

.post h4 {
    font-size: 16px;
}

.post img {
    width: 100%;
}

.post .featured-image {
    margin-bottom: 10px;
}

.post .featured-image img {
    border-radius: 3px;
}

.post pre {
    overflow: scroll;
    width: 100%;
    padding: 15px;
    background: #eee;
    margin: 0 0 24px;
}

.post ul, .post ol {
    padding: 4px 16px 0;
    margin: 0 20px 18px;
    font-weight: 300;
    font-size: 16px;
}

.post ul {
    list-style-type: disc;
}

.post ol {
    list-style-type: decimal;
}

.post li {
    line-height: 28px;
    padding-bottom: 4px;
}

.post hr {
    display: block;
    background: #ddd;
    height: 1px;
    margin: 18px 0;
}

.post strong {
    font-weight: 500;
}

.post table {
    font-size: 16px;
    font-weight: 300;
    color: rgb(71, 71, 71);
}

.post table td {
    padding: 0 24px 4px 0;
}

.post table td a {
    color: rgb(71, 71, 71);
    border-bottom: 1px solid rgb(71, 71, 71);
}

.post table.schedule .booked {
    font-style: italic;
    color: rgb(184, 184, 184);
}

.post table.schedule .free {
    font-style: italic;
    font-weight: 500;
    color: rgb(71, 71, 71);
}

section.share {
    display: block;
    height: 42px;
    margin-bottom: 18px;
}

section.share a {
    display: block;
    width: 42px;
    height: 42px;
    float: left;
    margin: 0 10px 10px 0;
}

section.share a.icon-twitter {
    background: url(../img/twitter.png) center center no-repeat;
}

section.share a.icon-facebook {
    background: url(../img/facebook.png) center center no-repeat;
}

section.share a.icon-google-plus {
    background: url(../img/google.png) center center no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2),  (min-resolution: 192dpi) {
    section.share a.icon-twitter {
        background: url(../img/twitter@2x.png) center center no-repeat;
        background-size: 100% 100%;
    }

    section.share a.icon-facebook {
        background: url(../img/facebook@2x.png) center center no-repeat;
        background-size: 100% 100%;
    }

    section.share a.icon-google-plus {
        background: url(../img/google@2x.png) center center no-repeat;
        background-size: 100% 100%;
    }
}

.main-footer {
    display: block;
    margin: 0 auto;
    text-align: center;
}

section.links {
    display: block;
    height: 16px;
    margin: 0 auto 12px;
}

section.links a {
    color: #3878d9;
    padding-bottom: 2px;
    margin: 0 4px;
}
section.links a:hover {
    padding-bottom: 1px;
    border-bottom: 1px solid #3878d9;
}

section.copyright {
    display: block;
    height: 16px;
    margin: 0 auto 6px;
    font-weight: 300;
    color: rgb(107, 107, 107);
}
